.dog {
    
    width: 320px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: solid 2px #EDAFB8;
    margin: 5px;
    border-radius: 10px;
    background-color: #93E1D8 ;
}

.dog_image {
    border: solid 5px #EDAFB8;
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 10px;
    
}

.dog_text_block {
    display: flex;
    align-items: center;
    margin:auto;
  }

.dog_text {
    text-align: center;
}

#dogGrid {
    margin-top: 50px;
    display: flex;
    flex: 1 0 0px;
    flex-wrap:wrap;
    justify-content: center;
}

@media only screen and (max-width: 698px) {
    .dog {
        width: 100%;
    }
}