#welcome {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#doggydaycare {
    height: auto;
  max-width: 100%;
}

/* #welcome_content {
    border: solid black 1px;
    align-items: center;
    justify-content: center;
} */