#menu {
  display: flex;
  background-color: #EDAFB8;
  border: solid 2px #861657;
  border-radius: 5px;
  margin: 6px;
}

#menu_elements {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.menu_item {
  margin-left: 2em;
  margin-right: 2em;
  padding: 3px;
}

