:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #DDFFF7;
  color:#861657;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  
}

a {
  font-weight: 600;
  color: #861657;
  text-decoration: none;
}
a:hover {
  color: #F7CE5B;
    text-shadow:2px 2px #213547;
    transition: color 0.25s;
    transition: text-shadow 0.25s;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.8em;
  line-height: 1;
}

h3 {
  font-size: 1.3em;
  line-height: 1;
}

h4 {
  font-size: 1em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid #861657;
  color: #861657 ;
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #EDAFB8;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width:fit-content;
}
button:hover {
  border-color: #F7CE5B;
}

